<h1 class="c1">{{ title }}</h1>

<div *ngIf="success_message; then updated_msg; else error_msg" class="c2">
  User added successfully!!
</div>

<ng-template #error_msg>
  <label class="c2-one">user was not added </label>
</ng-template>

<ng-template #updated_msg>
  <label class="c2-two">user was updated </label>
</ng-template>

<h2>Learning ngFor</h2>

<ul>
  <li *ngFor="let contact of contacts; index as i; first as f; last as l">
    <div *ngIf="f" style="background-color: aquamarine">
      This is start of line
    </div>
    <div>{{ i }} {{ contact.fname }} {{ contact.lname }}</div>
    <div *ngIf="l" style="background-color: orange">This is end of line</div>
  </li>
</ul>

<p>New table with even and odd(alternate rows)</p>

<ul>
  <li *ngFor="let contact of contacts; even as e; odd as o; index as i">
    <div *ngIf="e" style="background-color: rgba(138, 123, 123, 0.349)">
      {{ i }}. {{ contact.fname }} {{ contact.lname }}
    </div>
    <div *ngIf="o" style="background-color: rgb(194, 194, 137)">
      {{ i }} .{{ contact.fname }} {{ contact.lname }}
    </div>
  </li>
</ul>

<div [ngSwitch]="superPower">
  <div *ngSwitchCase="'wonderWoman'">Display wonder women's super powers</div>
  <div *ngSwitchCase="'spiderMan'">Display spiderman's super powers</div>
  <div *ngSwitchCase="'thor'">Display thor's super powers</div>
  <div *ngSwitchCase="'ironMan'">Display iron man's super powers</div>
  <div *ngSwitchDefault>No Super heroes right now</div>
</div>

<div [ngSwitch]="taxRate">
  <div *ngSwitchCase="10">Taxrate is 10%</div>
  <div *ngSwitchDefault>Taxrate is 5% as prescribed standard.</div>
</div>

<app-list-profile></app-list-profile>
